BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach

AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: false
