[user]
	email = greyhairchooselife@gmail.com
	name = sangyeon kim

[core]
	editor = nvim
  pager = delta --diff-so-fancy --file-style=omit --hunk-header-style="#FFFFFF"

[delta]
  navigate = true   # use n and N to move between diff sections
  light = false
  dark = true
  side-by-side = true
  line-numbers = true
  commit-style                  = reverse blue            # 커밋 스타일
  file-style                    = black red               # 파일명 스타일
  hunk-header-style             = bold italic purple      # hunk 헤더 스타일
  minus-style                   = normal "#1f0001"        # 빈 삭제 라인 표시 스타일
  minus-emph-style              = bold red 52             # 강조된 삭제 라인 스타일
  minus-empty-line-marker-style = normal "#3f0001"        # 빈 삭제 라인 표시 스타일
  plus-style                    = normal "#102800"               # 강조된 추가 라인 스타일
  plus-emph-style               = "#3ff800" 22           # 강조된 추가 라인 스타일
  plus-empty-line-marker-style  = normal "#002800"        # 빈 추가 라인 표시 스타일
  true-color                    = always                  # 24비트 색상 사용


[color "diff"]
	commit = blue bold
	frag = magenta bold italic
  meta = black red
  old = red
	new = cyan

[color "branch"]
	current = green

[color "status"]
  branch = black brightblue
  header = white
  added = cyan
  changed = red bold
	untracked = magenta

[color "grep"]
    lineNumber = yellow

[init]
	defaultBranch = main

[help]
	autocorrect = prompt

[push]
  default = upstream
	autoSetupRemote = true # main 외 branches들을 remote에 push를 기본적으로 허용. 이거 안하면 매번 물어봄.

[web]
	browser = brave

[alias]
  list-changed = ! git status -s | awk '/^.M/ {print $2}'
  list-untracked = ! git status -s | awk '/^\\?\\?/ {print $2}'
  list-unmerged = ! git status -s | awk '/^.U/ {print $2}'
  list-staged = ! git status -s | awk '/^[AM]/ {print $2}'
  list-added = ! git status -s | awk '/^[AM]/ {print $2}'
  ignore = "!gi() { local IFS=','; curl -sL https://www.toptal.com/developers/gitignore/api/\"$*\"; }; gi"

[grep]
    lineNumber = true

[commit]
	verbose = true
    ; template = /home/etr/.gitmessage

[merge]
	; ff = false

[fetch]
	tags = true

[branch]
	sort = -committerdate

[tag]
	sort = -version:refname

[diff]
	algorithm = histogram # 기본값인 myers보다 블록 단위 이동(리팩토링 등)에 강점을 보인다.

[maintenance]
	auto = true
	strategy = incremental

[status]
	branch = true
