*
!.gitignore
!/web-search.json
!/agent/
/agent/*
!/agent/settings.json
!/agent/keybindings.json
!/agent/themes/
/agent/themes/*
!/agent/themes/ember-glow.json
!/agent/extensions/
/agent/extensions/*
!/agent/extensions/codeblock-theme.ts
!/agent/extensions/turn-navigator.ts
!/agent/extensions/pi-permission-system/
/agent/extensions/pi-permission-system/*
!/agent/extensions/pi-permission-system/config.json
!/agent/skills/
/agent/skills/*
!/agent/skills/edit-article/
/agent/skills/edit-article/*
!/agent/skills/edit-article/SKILL.md
