# NOTE: https://alacritty.org/config-alacritty.html

[general]
import = ["~/.config/alacritty/themes/themes/enfocado_dark.toml"]
live_config_reload = true

[env]
TERM = "xterm-256color"

[window]
# padding.x = 1
# padding.y = 5
decorations = "Buttonless"

opacity = 0.95
# blur = true
dynamic_padding = true
# startup_mode = "Maximized"
dynamic_title = true

[font]
# normal.family = "D2Coding"
normal.family = "D2CodingLigature Nerd Font Propo"
size = 15.0                                        # current
# size = 11.0  # cbpm labtop
# size = 9.0 # x390
# size = 15.0 # portable monitor
# size = 11.0  # jungle monitor
offset.x = 1

[keyboard]
bindings = [
  { key = "c", mods = "Control|Shift", action = "Copy" },
  { key = "v", mods = "Control|Shift", action = "Paste" },
  { key = "n", mods = "Control|Shift", action = "SpawnNewInstance" },
  { key = "i", mods = "Alt", action = "ToggleViMode" },
  { key = "Space", mods = "Control", action = "ReceiveChar" },
  { key = "'", mode = "Vi", action = "SemanticSearchForward" },
  # { key = "'", mode = "Vi", action = "SemanticSearchBackward" },
  # { key = "[", mods = "Control", chars = "\u001b[" }
  { key = "[", mods = "Control", chars = "\u001b[27;5;91~" },
]

[cursor]
style = { shape = "Block", blinking = "Off" }
unfocused_hollow = true

[colors]
vi_mode_cursor = { cursor = "#FF3333" }
search.matches = { background = "#FFFF00" }
search.focused_match = { background = "#0000FF" }
# Colors which should be used to draw the terminal cursor. If these are unset,
# the cursor color will be the inverse of the cell color.
cursor = { text = "#000000", cursor = "#ffffff" }

[terminal.shell]
program = "/bin/bash"

[hints]
alphabet = "jfkdls;ahgurieowpq"

[[hints.enabled]]
command = "xdg-open" # Linux/BSD용 명령어
# command = "open"   # macOS용 명령어
# command = { program = "cmd", args = ["/c", "start", ""] } # Windows용 명

hyperlinks = true
post_processing = true
persist = false

mouse.enabled = false

binding = { key = "u", mods = "Alt" }

regex = "(https://|http://)[^\u0000-\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"
